<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Dashboard')}"></head>

<body>

<div th:replace="~{fragments/layout :: sidebar}"></div>

<div class="main-content">

    <h2>📊 Menú </h2>

    <div class="row text-center mt-4">

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body py-4">
                    <i class="bi bi-people-fill" style="font-size:2rem; color:#5D4037"></i>
                    <h5 class="mt-2">Clientes</h5>
                    <h3 th:text="${totalClientes}">0</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body py-4">
                    <i class="bi bi-box-seam-fill" style="font-size:2rem; color:#5D4037"></i>
                    <h5 class="mt-2">Productos</h5>
                    <h3 th:text="${totalProductos}">0</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body py-4">
                    <i class="bi bi-cart-fill" style="font-size:2rem; color:#5D4037"></i>
                    <h5 class="mt-2">Ventas</h5>
                    <h3 th:text="${totalVentas}">0</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body py-4">
                    <i class="bi bi-cash-stack" style="font-size:2rem; color:#2E7D32"></i>
                    <h5 class="mt-2">Total dinero</h5>
                    <h3 th:text="${'$' + totalDinero}">$0</h3>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-2">

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5>⚡ Accesos rápidos</h5>
                    <div class="d-flex flex-column gap-2 mt-3">
                        <a href="/clientes/nuevo" class="btn btn-primary">
                            <i class="bi bi-person-plus"></i> Nuevo Cliente
                        </a>
                        <a href="/productos/nuevo" class="btn btn-warning">
                            <i class="bi bi-plus-circle"></i> Nuevo Producto
                        </a>
                        <a href="/ventas/nuevo" class="btn btn-success">
                            <i class="bi bi-cart-plus"></i> Nueva Venta
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>